html {
    scroll-behavior: smooth;
}


/* Css reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Css variables */


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* Utility Class */

.h-primary {
    font-size: 3.4rem;
    padding: 12px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.h-secondary {
    font-size: 2.4rem;
    padding: 12px;
    font-family: 'Source Code Pro', monospace;
}

.p-primary {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
}

.p-secondary {
    font-family: 'Caveat', cursive;
    font-size: 2.3rem;
}

.btn {
    padding: 6px 20px;
    border: 3px solid white;
    background-color: rgba(219, 100, 100, 0.1);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.center {
    text-align: center;
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* Navigation bar */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10000;
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* Navigation bar: logo and logo-img */

.logo {
    margin: 3px 5px;
}

#logo-img {
    width: 5rem;
    height: 5rem;
    margin: 4px 3px;
    background-color: rgba(255, 255, 2550, 0.2);
    border-radius: 50px;
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* Navigation bar list styling */

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhaina 2', cursive;
    width: 100%;
}

#navbar ul li {
    display: block;
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    display: block;
    padding: 5px 22px 3px 22px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(197, 197, 197, 0.7);
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* Home Section */

#home {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 93vh;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("https://source.unsplash.com/1600x900/?meal") no-repeat center center/cover;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* Services section */

#services {
    display: flex;
    margin: 0px 10px;
}

#services .box {
    display: flex;
    flex-direction: column;
    border: 4px solid brown;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(238, 236, 236);
    border-radius: 28px;
    font-size: 1.3rem;
    ;
}

#services .box img {
    width: 8rem;
    /* img center */
    display: block;
    margin: auto;
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* CLient section */

#client-section {
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    margin: 2rem 0rem 0rem 0rem;
}


/* bgimg */

#client-section::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("https://source.unsplash.com/1600x900/?veggies") center center/cover;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

#clients {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.client-item {
    padding: 3px;
}

#clients img {
    height: 6rem;
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* Contact section */

#contact {
    position: relative;
    color: rgba(0, 0, 0, 0.6);
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("https://source.unsplash.com/1600x900/?telephone") no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.form-group label {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3), 0px 0px 9px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(255, 255, 255, 0.7);
    font-family: 'Baloo Bhaina 2', cursive;
}

#contact-box .input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 50%;
}

#submit-btn {
    width: fit-content;
    display: block;
    margin: auto;
    color: rgba(0, 0, 0, 0.7);
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* Footer */

footer {
    background: rgb(110, 110, 110);
    color: white;
}


/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/


/* About Section */

#about-us-section {
    position: relative;
}

#company-details {
    position: relative;
}

#company-details::before {
    content: "";
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background: url("../img/about-us/about-us-bg.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.2;
}

#about-us-section .about-company {
    padding: 1rem;
    margin: 1rem;
    margin: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}

#about-us {
    display: flex;
    margin: 0px 10px;
}

#about-us .box {
    display: flex;
    flex-direction: column;
    border: 4px solid brown;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(238, 236, 236);
    border-radius: 28px;
    font-size: 1.3rem;
}

#about-us .box img {
    width: 8rem;
    /* img center */
    display: block;
    margin: auto;
}